/*Chris Gioia 987654*/
body{
    font : normal normal normal 20px/1.25 Comic, Comic, Comic;
    height: 85vh;
    width: 95vw;
    background-color: white
}
h2{
    
    font-size: 2rem;
    color: #DC143C;
}
header{
    background-color: white;
}
main{
    float: left;
    width : 40vw;
    background-color: white;
    height: 35vh;
}
aside{
    float: right;
}
footer{
    clear: both;
    background-color: hsl(0, 0%, 100%);
}
.structural{
    margin : 10px;
    padding: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(0, 0, 0);
}
#para2{
    color: rgb(0, 0, 0);
}
#para3{
    float: left;
}
footer p{
    font-size: .75em;
}
